@import "reset.scss";
@import "fonts.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/*ANIMATIONS*/

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateInvert {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes goDown {
  from {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0px);
  }
}


@keyframes scroll-reverse{
  0%   {left: 0px;}
  100% {left: -1000px;}
}

@keyframes scroll{
0%   {left: -1000px;}
100% {left: 0px;}
}

/*CSS*/

html {
  scroll-behavior: smooth;
}

body {
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-width: 100vw;
  overflow-x: hidden;

  nav {
    position: fixed;
    background-color: #1c1c1c;
    height: 50px;
    width: 50px;
    top: 20px;
    left: 30px;
    z-index: 101;
    transition: height 0.5s, width 0.5s, left 0.5s, top 0.5s;
  }

  nav.is-open{

    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
  }

  .menu {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    list-style:none;


    .menu__items {
      text-align: center;
      font-size: 60px;
      color: #f7f8f6;
      font-family: "Montserrat";
      font-weight: 900;
      font-style: normal;
      line-height: 1.8em;
    }

    .menu__items:hover{

      text-decoration: underline;
      text-decoration-color: #f7f8f6;
    }
  }

  .menu--hidden {
    display: none;

  }

  h2 {
    position: relative;
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
  }
}
a {
  text-decoration: none;
  color: #f7f8f6;
}

p {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: #1c1c1c;
  line-height: 200%;
}
// SECTION BLOC
#accueil {
  background-color: #f7f8f6;
}

.link {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 10vh;
 width: 100vw;
 padding-bottom: 2em; 
}
.section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .intro__rotate {
    width: 30%;
    height: auto;
    animation: rotate 40s infinite linear;
  }

  .logo {
    position: absolute;
    width: 6vw;
    height: auto;
  }

  .arrow {
    position: absolute;
    bottom: 8%;
    left: 50%;
    animation: goDown 1s ease-in-out infinite;
  }

  .brief {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 50%;
    height: 100%;

    .project__title {
      margin-bottom: 2em;
    }

    .project__infos {
      margin-top: 6em;
      width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      text-align: start;
    }
    .project__infos--me {
      width: 100vw;
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      text-align: start;
    }
  }
}

.scrolling-limit{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  height: 40vh;
  background-color: black;
  overflow:hidden;
  white-space:nowrap;  
}

.scrolling-reverse{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family:'TitlingGothicFB Wide';
  font-weight: 900;
  font-size: 60px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f7f8f6;
  height: 10vh;
  -webkit-animation: scroll-reverse 30s infinite linear;;
  -moz-animation: scroll-reverse 30s infinite linear;
  -o-animation: scroll-reverse 30s infinite linear;
  animation: scroll-reverse 30s infinite linear;
}

/*MENU PROJETS*/

.section--projets {
  background: #1c1c1c;
  height: 100vh; //project section div size
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

  .proj {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    list-style: none;

    .item {
      position: relative;
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 60px;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #fff;
      margin: 0.7em;
      transition: all 0.3s ease-in-out;
    }

    .number {
      color: white;
      font-size: 20px;
      overflow: hidden;
    }

    .item:hover {
      transform: translateX(30px);

      .number {
        text-decoration: underline;
        text-underline-position: under;
        overflow: visible;
      }
    }
  }
}

.apercu{
  background-color: #1c1c1c;
  width: 50vw;
  height: 100vh;
}

.intro {
  padding-top: 5em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro--banal {
  padding-top: 6em;
  padding-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*SO COMPTOIR*/

.section--socomptoir {
  h3 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-position: under;
    color: orange;
  }

  span {
    font-weight: bolder;
    color: orange;
  }

  .logo__project {
    width: 10%;
    height: auto;
    margin-bottom: 1em;
  }
}

/*BANAL*/

.section--banal {
  span {
    font-weight: bolder;
    color: gold;
  }

  h3 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-position: under;
    color: gold;
  }

  .logo__project {
    width: 10%;
    height: auto;
  }
}

/*LITEFEET NATION*/

.section--litefeet {
  span {
    font-weight: bolder;
    color: black;
  }

  h3 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-position: under;
    color: black;
  }

  .logo__project {
    width: 10%;
    height: auto;
  }
}

/*ALLOCINE*/

.section--allocine {
  span {
    font-weight: bolder;
    color: #ffe91e;
  }

  h3 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-position: under;
    color: #ffe91e;
  }

  .logo__project {
    width: 10%;
    height: auto;
  }
}

/*DARD*/

.section--dard {
  span {
    font-weight: bolder;
    color: #ff6f61;
  }

  h3 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-position: under;
    color: #ff6f61;
  }

  .logo__project {
    width: 10%;
    height: auto;
  }
  .soco__home {
    width: 30%;
    height: auto;
  }
}

/*MAQUETTES*/

.section__maquette {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  padding-top: 4em;

  .brief__maquette {
    padding: 3em;
    text-align: center;
  }

  .brief__maquette--up {
    padding-top: 5em;
    padding: 3em;
    align-self: self-start;
  }

  .maquette {
    width: 60vw;
    height: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }

  .maquette__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80vh;
    padding: 2em;
  }
}
/*A PROPOS*/

/*SOCIAL*/

.section--about {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .text__about {
    padding-left: 2em;
    color: #f7f8f6;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 35px;
    width: 60%;
    line-height: 200%;
    text-align: left;

    span {
      color: #8167a9;
      transition: all 1.3s ease-in-out;
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
  }

  .social__icons {
    margin: 2em;
    transition: all 0.2s ease-in-out;
  }
  .social__icons:hover {
    transform: scale(1.1);
    filter: invert(47%) sepia(6%) saturate(2902%) hue-rotate(222deg) brightness(93%) contrast(93%);
  }
}